.blog, .featured-activities {
    article{
        position: relative;

        .activities-info, .crp_title{
            position: absolute;
            color: $color__invert;
            left: 20px;
            bottom:20px;
            

            .button-link {
                border: none;
                background-color: $color__invert;
                color: $color__brand_dark;
                font-weight: 600;
            }

        }
    }
}