.blog article,
.featured-activities article,
.archive article {
    border-radius: 0.25rem;
    position: relative;
    height: 420px;
    width: 100%;
    max-width: 350px;
    overflow: hidden;
    z-index: 5;
    
    > img { 
        height: 100%;
        object-fit: cover;
        width: 100%;
        object-position: 50% 50%;
    }
    
    .activities-info{
        position: absolute;
        color: $color__invert;
        left: 16px;
        bottom: 24px;
        
        
        > h3 {
            font-size: 1.5rem;
            font-weight: 600;
        }
        
        .button-link {
            border: none;
            background-color: $color__invert;
            color: $color__brand_dark;
            font-weight: 400;
            margin: 0;
            margin-top: 0.75rem;

            &:hover, &:active, &:focus {
                background-color: $color__brand_dark;
                color: $color__invert;
            }
        }
    }

    &::before {
        content: '';
        background: linear-gradient(180deg, rgba(255,255,255,0) 60%, rgba(0,0,0,0.8) 100%);
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    &:hover, &:active, &:focus {
        > img {
            position: relative;
            transform: scale(1.05);
            transition: all 0.5s ease;
            z-index: -5;
        }
    }
}
