
.hero {
    background-color: $color__brand;
    color: $color__invert;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 45vh;
    
    p {
        max-width: 35rem;
        margin: 0 auto;
    }

    > img,
    .post-thumbnail,
    .post-thumbnail img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.8);
    }

    .post-thumbnail > img {
        position: relative;
    }

    .align-center,
    .align-left-title,
    .product_title {
        position: relative;
        bottom: 8%;
        z-index: 50;
        padding: 0 1rem;
    }

    .align-left-title,
    .product_title {
        align-self: flex-start;

        @media screen and (min-width: $laptop) {
            margin: 0 5rem;
        }
    }

    &::after {
        @include wave;
        background-image: url('./assets/wave-white.svg');
        bottom: -1px; 
        height: 20rem;
    }

    @media screen and (min-width:$laptop) {
        height: 60vh;

        h1 {
            font-size: 3rem;
        }    
    }
}