.map-info {
    background-color: $color__background-map;
    display: grid;
    grid-template-columns: repeat(2, minmax(3rem, auto));
    justify-content: center;
    padding: 3rem 0;
    gap: .5rem;

    .home-map-icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .home-map-text {
        font-weight: bold;
    }
}

@media screen and (min-width: $tablet) {
    .map-info {
        width: 40%;
        align-content: center
    }
}