.single-post{
    h1, h2, p{
        padding: 1.5rem;
    }

    .activity-offset-1{
        background-color: $color__background_section;
        
    }

    .affiliate-section{
        max-width: 40.6rem;
        margin: 0 auto;

        h2, p{
            text-align: center;
        }

        .button-link{
            @include button-link;
            @include center-block;
            background-color: $color__brand_dark;
            color: $color__invert; 
        }
    
    }

    .activity-image-wrap{
        width: fit-content;
        margin: 0 auto;
    }

    p{
        margin: 0 auto;
    }


    .crp_related{

        ul{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 0 auto;

            a{
                width: fit-content;
                margin: 1rem auto;
            }

            figure{
                
                &::before {
                    content: '';
                    height: 99%;
                    background: linear-gradient(180deg, rgba(255,255,255,0) 60%, rgba(0,0,0,0.8) 100%);
                    border-radius: 0.25rem;
                    display: block;
                    position: absolute;
                    width: 100%;
                }
            }
        }    

    }
       
    h2{
        text-align: center;
    }

    .crp_link{
        display: block;
        position: relative;
        
        
        .crp_title{
            display: block;
            font-family: $font__main;
            font-weight: 600;
            font-size: 2rem;
            position: absolute;
            color: $color__invert;
            left: 20px;
            bottom:20px;
        }

    }
}     



@media screen and (min-width: $tablet){
    .single-post{

        .activity-intro{
            padding: 3rem 0;
            max-width: 41.25rem;
            margin: 0 auto;
        }

       
        .activity-1, .activity-2{
           
            max-width: 90rem;
            margin: 0 auto;
            padding-left: 1rem;
            padding-right: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr ;
            align-items: center;
            gap:2rem;

            .activity-image-wrap{

                height: 22.5rem;

                img{
                    object-fit: cover;
                    object-position: center center;
                    max-width: 100%;
                    height: 100%;
                    
                }
                 
            }

        }

        .activity-1{
            padding-top: 2rem;

            p{
                padding-top: 0;
            }
        }

        .activity-2{
            padding-top: 3rem;
            padding-bottom: 2rem;
            
            p{
                padding-bottom: 0;
                grid-row: 1/2;
            }

            img{
                grid-row: 2/3;
            }

        }
        
        .affiliate-section{
            padding-top:3rem;
        }

        .crp_related{

            ul{
                max-width: 90rem;
                flex-direction: row;
                gap:2rem;
                margin-bottom: 3rem;
                
                li{
                    max-width: 30%;
                }
            }
    
        }

       
    }

    

}

@media screen and (min-width: $desktop){
    .single-post{

        .activity-offset-1{
            box-shadow: 0px 3.5rem 0px $color__body inset;
        }

        .activity-offset-2{
            box-shadow: 0px -3.5rem 0px $color__body inset;
        }

        .activity-intro{
            padding: 6rem 0;
        }

        .activity-1{
            padding-top: 0;

            p{
                padding-top: 2rem;
            }
        }

        .activity-2, .affiliate-section, .relpost-thumb-wrapper{
            padding-top: 6rem;
            padding-bottom: 0;
            gap:4rem;
        }

        .activity-1, .activity-2{

            .activity-image-wrap{
                height: 30rem;
            }
        }
    }
}