.page-id-3 .site-main{
    max-width: 60rem;
    margin: 0 auto;
    h2,
    h3 {
        font-size: 1.5rem;
        color: $color__brand_dark;
        margin-top: 2rem;
    }
    p{
        margin-top: .5rem;
    }
}

    