// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}


// Custom
@mixin button-link {
	display: block;
	width: fit-content;
	border: 1px solid $color__brand;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	margin: 1rem 0;
}