// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}


// Custom
@mixin button-link {
	display: block;
	width: fit-content;
	color: inherit;
	border-radius: 0.25rem;
	border: 1px solid;
	border-color: inherit;
	padding: 0.5rem 1rem;
	margin: 1rem 0;
}

@mixin wave {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	width: 100%;
	height: 15rem;
	top: -232px;
	left: 0;
}