.main-navigation {
	display: block;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		z-index: 99999;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}

	}

	a {
		display: block;
		text-decoration: none;
		font-weight: $font__weight-bold;
		color: $color__brand;
		transition: .3s ease-in-out, box-shadow .3s ease-in-out;

		&:hover,
		&:focus,
		&:active {
			box-shadow: 0 2px 0 0;
			outline: none;
		}

	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	display: block;
	width: 39px;
    height: 39px;
	margin: 0;
    padding: 0;
	border: none;
}

.main-navigation.toggled ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: calc(100vh - 60px);
	background-color: $color__body;
	a {
		margin: 2rem 3rem 0 0;
		color: $color__brand;
		font-size: 1.25rem;
	}
}

.hamburger-icon {
	.line{
        width: 1.8rem;
        height: .2rem;
        background-color: $color__brand;
        display: block;
        margin: .3rem auto;
        transition: all 0.3s ease-in-out;

		.toggled &:nth-child(2){
            width: 0;
        }

        .toggled &:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }

        .toggled &:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
	}

	.toggled & {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
    }
}

@media screen and (min-width: 56em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		justify-content: flex-end;
		gap: 1.5rem;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

.footer-navigation {
	font-size: 1.2rem;
	font-weight: 600;
}