button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	background: transparent;
	color: inherit;
	border-radius: 0.25rem;
	border-color: inherit;
	line-height: 1.5;
	padding: 0.5rem;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
