footer, footer.site {
  background-color: $color__accent_dark;
  color: $color__invert;
  padding: 5rem 1rem 2.5rem;
  font-size: 0.8rem;

  > * {
    margin: 1.5rem auto;
    max-width: $maxWidth;
  }

  img {
    width: 100%;
    max-width: 20rem;
    margin-bottom: 1rem;
  }

  a, a:visited {
    color: $color__invert;
    width: fit-content;

    &:hover, &:active, &:focus {
      color: inherit;
    }
  }
  
  section.business-info > div {
    display: flex;
    margin: 0.5rem 0;
    gap: 0.5rem;
    align-items: flex-start;
  }

  section:last-child {
    border-top: 1px solid $color__invert;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0 0;
    margin: 0 auto;

    a {
      display: inline-flex;
      gap: 0.5rem;
    }
  }
}

@media screen and (min-width: $tablet) {
  footer, footer.site {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 30rem));
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    justify-content: center;
    align-items: end;
    padding: 5rem 2.5rem 2.5rem;
    row-gap: 2.5rem;

    *:nth-child(-n+3) {
      grid-row: 1;
    }

    *:nth-child(4) {
      grid-row: 2;
      grid-column: 1 / 4;
      width: 100%;
    }
  }

}