@use '../../abstracts/variables/colors';
@use '../../abstracts/variables/breakpoints';

ul,
ol {
	list-style-type: none;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

.wp-block-woocommerce-product-categories,
#secondary #block-6 {
	ul {
		padding: 0;
		@media (min-width:$tablet) {
			display: flex;
			justify-content: flex-start;
			gap: 2rem;
		}
		li a {
			color: $color__brand;
		}

	}

}